<footer>
    <div class="f-info">
        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div > 
            Wanderlust Private limited
        </div>
        <div class="link">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>